body{
    background-size: cover;
    background-position:center;
    color:#dcdcdc;
	text-align: center;
    height: 100vh;
    padding:0;
    margin:0;
}


h1, h3{
	font-family: 'Happy Monkey', cursive;
	text-align: center;
}

p, a{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h1{
	margin:0;
	color: transparent;
}
h3{
	margin-bottom:0;
	margin-top:0;
}

ul {
	font-family: 'Raleway', sans-serif;
	list-style-position: inside;
}



/* everything that involves LINKS (tm) */

	a{
	    text-decoration: none;
	    color: #000;

	    position: relative;
		top: 50%;

		font-size:1.5em;
	}

	a:hover{
		color:transparent;
	}

	button{
		padding:5px;
		margin:15px;
		width:220px;
	}

	#button-wrapper{
		width:65%;
		margin:auto;
		margin-bottom:5%;
	}
/* button junk stops here */

#rules-list{
	  line-height: 150%;
}

.wrapper{
	border-radius:20px;
	background: rgba(0, 0, 0, 0.6);
	width:80%;
	margin:auto;
}

.text-wrapper{
	width:60%;
	margin:auto;
	font-size:1.2em;
}

.lreformat{
	position: fixed;
    right: 10%;
    left:10%;
    top: 50%;
    transform: translateY(-55%);
    	border-radius:20px;
	background: rgba(0, 0, 0, 0.6);
}

/* section for weird situational stuff */

	/*centers the landing page vertically and horizontally*/
	#landing-page{
	    position: fixed;
	    right: 10%;
	    left:10%;
	    top: 50%;
	    transform: translateY(-50%);
	    border-radius:20px;
		background: rgba(0, 0, 0, 0.5);
		padding:10px;
	}

	/*makes sure the taglines are properly formatted*/
	#tagline-desktop, #tagline-mobile{
		margin-top:0;
		font-family: 'Happy Monkey', cursive;
		font-size:14px;
	}

	/*vertical spacer*/
	#spacer {
		padding:20px 0 0;
	}

	#joinzoom{
		border-radius: 20px;
		width:13.5em;
		height:5.25em;
		margin:1%;
		max-width: 60%
	}

	#joinzoom:hover{
		filter: brightness(130%);
	}
/*situational section end*/



/*these rules manage the differences between phone and desktop*/
	.portrait {
	  display: none;
	  visibility: hidden;
	}

	@media screen and (max-width:660px) {
	    .landscape { display: none !important; }
	    .portrait  { display: block; visibility: visible; }
	}
    /*------------------------------------------------------*/
    #rainbow-link {
	  background-image: linear-gradient(to left, magenta, deepskyblue, green, yellow, orange, red);
	  -webkit-background-clip: text;
	  margin:5px;
	  padding:5px;
	}

    #rainbow-p {
	  font-size:2.5em;
	  background-image: linear-gradient(to left, magenta, deepskyblue, green, yellow, orange, red);
	  background-repeat:no-repeat;
	  background-size: 400px auto;
	  background-position: center;
	  -webkit-background-clip: text;
	}

	#rainbow-l {

	  font-size:3.5em;
	  background-image: linear-gradient(to left, magenta, deepskyblue, green, yellow, orange, red);
	  background-repeat:no-repeat;
	  background-size: 550px auto;
	  background-position: center;
	  -webkit-background-clip: text;
	}


/*end of phone-desktop rules*/