body{
	color:gainsboro;
	text-align: center;
}

html{
	background-image: linear-gradient(#18121a, #261c29);
	background-size:100%;
	min-height: 100%;
}

h1, h3{
	font-family: 'Happy Monkey', cursive;
	text-align: center;
}

p, a{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h1{
	margin:0%;
	color: transparent;
}
h3{
	margin-bottom:0%;
	margin-top:0%;
}

ul {
	font-family: 'Raleway', sans-serif;
	list-style-position: inside;
}



/* everything that involves LINKS (tm) */

	a{
	    text-decoration: none;
	    color: black;

	    position: relative;
		top: 50%;

		font-size:1.2em;
	}

	a:hover{
		color:transparent;
	}

	button{
		padding:5px;
	}


/* button junk stops here */

#rules-list{
	  line-height: 150%;
}

.wrapper{
	padding:1em 0em 1em 0em;
}

.text-wrapper{
	width:60%;
	margin:auto;
}

/* section for weird situational stuff */

	/*centers the landing page vertically and horizontally*/
	#landing-page{
	    position: fixed;
	    right: 10%;
	    left:10%;
	    top: 50%;
	    transform: translateY(-50%);
	}

	/*makes sure the taglines are properly formatted*/
	#tagline-desktop, #tagline-mobile{
		margin-top:0%;
		font-family: 'Happy Monkey', cursive;
	}

	/*vertical spacer*/
	#spacer {
		padding:20px 0px 0px 0px;
	}

	#spacer-small {
		padding:5px 0px 0px 0px;
	}
/*situational section end*/



/*these rules manage the differences between phone and desktop*/
	.portrait {
	  display: none;
	  visibility: hidden;
	}

	@media screen and (max-width:660px) {
	    .landscape { display: none !important; }
	    .portrait  { display: block; visibility: visible; }
	}
    /*------------------------------------------------------*/
    #rainbow-link {
	  background-image: linear-gradient(to left, magenta, deepskyblue, green, yellow, orange, red);
	  -webkit-background-clip: text;
	  margin:5px;
	  padding:5px;
	}

    #rainbow-p {
	  font-size:2.5em;
	  background-image: linear-gradient(to left, magenta, deepskyblue, green, yellow, orange, red);
	  background-repeat:no-repeat;
	  background-size: 400px;
	  background-position: center;
	  -webkit-background-clip: text;
	}

	#rainbow-l {

	  font-size:3em;
	  background-image: linear-gradient(to left, magenta, deepskyblue, green, yellow, orange, red);
	  background-repeat:no-repeat;
	  background-size: 500px;
	  background-position: center;
	  -webkit-background-clip: text;
	}


/*end of phone-desktop rules*/